@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');


@media screen and (max-width:600px){

    body{
        margin:0px;
        /* font-family: 'Carter One', cursive; */
        font-family: 'RocknRoll One', sans-serif;
    }
    
    :root{
        --warmgray50: #FAFAF9;
        --warmgray100: #F5F5F4;
        --warmgray200: #E7E5E4;
        --warmgray300: #D6D3D1;
        --warmgray400: #A8A29E;
        --warmgray500: #78716C;
        --warmgray600: #57534E;
        --warmgray700: #44403C;
        --warmgray800: #292524;
        --warmgray900: #1C1917;
    }
    
    


    .flex-container{
        display: flex;
        flex-direction: column;
    }

    .flex-header{
        background-color: var(--warmgray700);
        display: flex;
        padding:0.5rem 0.5rem 1.25rem 2rem;
        position: relative;
        flex-wrap: wrap;

    }

    .flex-head{
        position:relative;
        font-size:2rem;
        color:var(--warmgray100);
    }

    .flex-author{
        font-size: 0.7rem;
        color:var(--warmgray100);
        margin:0rem 0.5rem;
        align-self:flex-end;   
    }

    .flex-content{
        display: flex;
        flex-direction: column;
        margin:2rem auto ;
        width:90%;
        align-items: center;

    }
    
    .flex-content-head{
        font-size: 2rem;
        color:var(--warmgray900);
        font-family: 'Carter One', cursive;
        margin-left:-1rem;
    }
    
    .flex-content-head img{
        height:3rem;
        width:3rem;
        position: relative;
        top:0.3em;
    }
    
    .flex-content-text{
        font-size: 1.25rem;
        color:var(--warmgray900);
        padding:0rem 1rem;
        width:75%;
        margin:1rem 0rem 1rem 2rem;
        line-height: 1.4;
    }
    

    .cdn-link{
        width: 80%;
        margin:0.5rem auto 1.5rem auto;
    }

    .component-msg{
        display: flex;
        margin:1rem auto;
        align-items: center;
        max-width: 300px;
    }

    .grid-component{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:2px;
        max-width: 300px;
        margin:2rem auto;
        /* height:100vh; */
    }

    .grid-component-tile-link{
        color:var(--warmgray900);
        border-radius: 1rem;
        padding:0.15rem;
        text-align: center;
        box-shadow: 4px 4px 5px var(--warmgray500);
    }

    .grid-component-tile{
        font-size:1.25rem;
        padding: 1rem 0.25rem;
        margin:auto;
    }

    .grid-component-tile-link:hover{
        color:var(--warmgray50);
        background-color: var(--warmgray700);
        box-shadow: 4px 4px 5px var(--warmgray200);
    }

    .component-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding:0px;
        margin:0rem auto;
    }

    .component-heading{
        font-size:2rem;
        color:var(--warmgray800);
        padding:0.25rem;
        margin-bottom: 1rem;
        margin-right: auto;
        border-bottom: 1px solid var(--warmgray400);
    }

    .component-block{
        display: flex;
        flex-direction: column;
        width:90%;
        margin:1.5rem auto;
        border-radius:0.5rem;
    }

    .component-block-heading{
        font-size: 1.25rem;
        margin:0.25rem; 
        border-bottom: 1px solid var(--warmgray400);
    }

    .component-block-item{
        padding:0.2rem;
        border-radius:1rem;
        width:95%;
        margin:0rem auto;
    }

    .component-block-html{
        margin:1.25rem 1rem;
    }

    .component-block-css{
        margin:1.25rem 1rem;
    }


}