<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POOL.ui | Saurabh Kamboj</title>
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mobile.layout.style.css">
    <link rel="stylesheet" href="/components/avatar.css">
    <link rel="stylesheet" href="/prism.css">
</head>

<body>

    <div class="sidebar" id="side-nav">
        <img class="close-icon" src="/images/cross.svg">
        <div class="sidebar-content">
            <a href="/index.html" class="sidebar-heading">Home</a>
            <a href="/component.html" class="sidebar-heading">Components</a>
            <div class="sidebar-block">
                <a href="/components/alert.html" >Alert</a>
                <a href="/components/avatar.html" >Avatar</a>
                <a href="/components/badge.html" >Badge</a>
                <a href="/components/button.html" >Button</a>
                <a href="/components/card.html" >Card</a>
                <a href="/components/image.html" >Image</a>
                <a href="/components/input.html" >Input</a>
                <a href="/components/list.html" >List</a>
                <a href="/components/modal.html" >Modal</a>
                <a href="/components/navigation.html" >Navigation</a>
                <a href="/components/slider.html">Slider</a>
                <a href="/components/text_utilities.html" >Text-Utilities</a>
                <a href="/components/toast.html" >Toast</a>
            </div>
            <div class="space20"></div>
        </div>
    </div>

    <div class="flex-container">

        <div class="flex-header">
            <img class="open-icon" src="/images/open.svg">
            <div class="flex-head">POOL.ui</div>
            <div class="flex-author">| &nbsp;&nbsp; Saurabh Kamboj </div>
        </div>


        <div class="component-container">
            <div class="component-heading">Avatars</div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Circular Avatar</div>
                <div class="component-block-item display-flex">
                    <img src="/components/component_img/img_avatar.png" class="avatar-circular img50x50">
                    <img src="/components/component_img/img_avatar.png" class="avatar-circular img60x60">
                    <img src="/components/component_img/img_avatar.png" class="avatar-circular img70x70">
                    <img src="/components/component_img/img_avatar.png" class="avatar-circular img80x80">
                </div>
                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;img src="img_avatar.png" class="avatar-circular img50x50"&gt;
                        &lt;img src="img_avatar.png" class="avatar-circular img60x60"&gt;
                        &lt;img src="img_avatar.png" class="avatar-circular img70x70"&gt;
                        &lt;img src="img_avatar.png" class="avatar-circular img80x80"&gt;

                       </code>
                   </pre>

                </div>
                <!-- <div class="component-block-css">
                    <div class="block-css">CSS</div>
                    <pre><code class="language-css">
                    .avatar-circular{
                        border-radius: 50%;
                        margin: 0rem 1rem;
                    }
                    
                    .img50x50{
                        height:50px;
                        width:50px;
                    }
                    
                    .img60x60{
                        height:60px;
                        width:60px;
                    }
                    
                    .img70x70{
                        height:70px;
                        width:70px;
                    }
                    
                    .img80x80{
                        height:80px;
                        width:80px;
                    }

                   </code></pre>
                </div> -->
            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Rounded Avatar</div>
                <div class="component-block-item display-flex">
                    <img src="/components/component_img/img_avatar.png" class="avatar-rounded img50x50">
                    <img src="/components/component_img/img_avatar.png" class="avatar-rounded img60x60">
                    <img src="/components/component_img/img_avatar.png" class="avatar-rounded img70x70">
                    <img src="/components/component_img/img_avatar.png" class="avatar-rounded img80x80">
                </div>
                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                    <code class="language-html">
                     &lt;img src="img_avatar.png" class="avatar-rounded img50x50"&gt;
                     &lt;img src="img_avatar.png" class="avatar-rounded img60x60"&gt;
                     &lt;img src="img_avatar.png" class="avatar-rounded img70x70"&gt;
                     &lt;img src="img_avatar.png" class="avatar-rounded img80x80"&gt;

                    </code>
                </pre>

                </div>
                <!-- <div class="component-block-css">
                    <div class="block-css">CSS</div>
                    <pre><code class="language-css">
                    .avatar-rounded{
                        border-radius:0.75rem;
                        margin:0rem 1rem;
                    }                    
                    </code>
                    </pre>
                </div> -->
            </div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Circular Avatar with Placehoder icon</div>
                <div class="component-block-item display-flex">
                    <img src="https://via.placeholder.com/150" class="avatar-circular img50x50">
                    <img src="https://via.placeholder.com/150" class="avatar-circular img60x60">
                    <img src="https://via.placeholder.com/150" class="avatar-circular img70x70">
                    <img src="https://via.placeholder.com/150" class="avatar-circular img80x80">
                </div>
                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;img src="https://via.placeholder.com/150" class="avatar-circular img50x50"&gt;
                        &lt;img src="https://via.placeholder.com/150" class="avatar-circular img60x60"&gt;
                        &lt;img src="https://via.placeholder.com/150" class="avatar-circular img70x70"&gt;
                        &lt;img src="https://via.placeholder.com/150" class="avatar-circular img80x80"&gt;

                       </code>
                   </pre>

                </div>
                <!-- <div class="component-block-css">
                    <div class="block-css">CSS</div>
                    <pre><code class="language-css">
                    .avatar-circular{
                        border-radius: 50%;
                        margin: 0rem 1rem;
                    }

                   </code></pre>
                </div> -->
            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Circular Avatar with Initials</div>
                <div class="component-block-item display-flex">
                    <div class="avatar-initial avatar-circular img50x50 text-sm">SK</div>
                    <div class="avatar-initial avatar-circular img60x60 text-md">SK</div>
                    <div class="avatar-initial avatar-circular img70x70 text-lg">SK</div>
                    <div class="avatar-initial avatar-circular img80x80 text-vlg">SK</div>
                </div>
                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;div class="avatar-initial avatar-circular img50x50 text-sm"&gt; SK &lt;/div&gt;
                        &lt;div class="avatar-initial avatar-circular img60x60 text-md"&gt; SK &lt;/div&gt;
                        &lt;div class="avatar-initial avatar-circular img70x70 text-lg"&gt; SK &lt;/div&gt;
                        &lt;div class="avatar-initial avatar-circular img80x80 text-vlg"&gt; SK &lt;/div&gt;

                       </code>
                   </pre>

                </div>
                <!-- <div class="component-block-css">
                    <div class="block-css">CSS</div>
                    <pre><code class="language-css">
                        .avatar-initial{
                            background-color:#A8A29E;
                            padding:0.5rem;
                            text-align:center;
                        }
                        
                        .text-sm{
                            font-size:1.5rem;
                        }
                        
                        .text-md{
                            font-size:2.25rem;
                        }
                        
                        .text-lg{
                            font-size:2.75rem;
                        }
                        
                        .text-vlg{
                            font-size:3rem;
                        }

                   </code></pre>
                </div> -->
            </div>

        </div>


        <div class="flex-footer">
            <div class="footer">

                <div class="footer-text">Connect with us :</div>

                <div class="footer-social-link-bar">

                    <a href="https://twitter.com/im_saurabhK" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/twitter.svg">
                    </a>

                    <a href="https://www.linkedin.com/in/saurabh-kamboj/" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/linkedin.svg">
                    </a>

                    <a href="https://github.com/Saurabh071997" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/github.svg">
                    </a>

                    <a href="mailto:saurabhkamboj1997@gmail.com" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/mail.svg">
                    </a>



                </div>


            </div>
        </div>


    </div>


    <script src="/app.js"></script>
    <script src="/prism.js"></script>

</body>

</html>