<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POOL.ui | Saurabh Kamboj</title>
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mobile.layout.style.css">
    <link rel="stylesheet" href="/components/badge.css">
    <link rel="stylesheet" href="/prism.css">
</head>

<body>

    <div class="sidebar" id="side-nav">
        <img  class="close-icon" src = "/images/cross.svg">
        <div class="sidebar-content">
            <a href="/index.html" class="sidebar-heading">Home</a>
            <a href="/component.html" class="sidebar-heading">Components</a>
            <div class="sidebar-block">
                <a href="/components/alert.html" >Alert</a>
                <a href="/components/avatar.html" >Avatar</a>
                <a href="/components/badge.html" >Badge</a>
                <a href="/components/button.html" >Button</a>
                <a href="/components/card.html" >Card</a>
                <a href="/components/image.html" >Image</a>
                <a href="/components/input.html" >Input</a>
                <a href="/components/list.html" >List</a>
                <a href="/components/modal.html" >Modal</a>
                <a href="/components/navigation.html" >Navigation</a>
                <a href="/components/slider.html">Slider</a>
                <a href="/components/text_utilities.html" >Text-Utilities</a>
                <a href="/components/toast.html" >Toast</a>
            </div>
            <div class="space20"></div>
        </div>
    </div>

    <div class="flex-container">

        <div class="flex-header">
            <img class="open-icon" src="/images/open.svg">
            <div class="flex-head">POOL.ui</div>
            <div class="flex-author">| &nbsp;&nbsp; Saurabh Kamboj </div>
        </div>

        <div class="component-container">
            <div class="component-heading">Badge</div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Badges on icons</div>
                <div class="component-block-item display-flex">

                    <div class="badge-icon img50x50">
                        <img class="badge-icon-img" src="/components/component_img/cart-icon.svg">
                        <div class="badge-icon-num">5</div>
                    </div>

                    <div class="badge-icon img60x60">
                        <img class="badge-icon-img" src="/components/component_img/cart-icon.svg">
                        <div class="badge-icon-num">6</div>
                    </div>

                    <div class="badge-icon img70x70">
                        <img class="badge-icon-img" src="/components/component_img/cart-icon.svg">
                        <div class="badge-icon-num">7</div>
                    </div>

                    <div class="badge-icon img80x80">
                        <img class="badge-icon-img" src="/components/component_img/cart-icon.svg">
                        <div class="badge-icon-num">8</div>
                    </div>

                </div>
                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">

                        &lt;div class="badge-icon"&gt;
                            &lt;img class="badge-icon-img img50x50" 
                                src="cart-icon.svg"&gt;
                            &lt;div class="badge-icon-num"&gt;5&lt;/div&gt;
                        &lt;/div>

                        &lt;div class="badge-icon"&gt;
                            &lt;img class="badge-icon-img img60x60" 
                                src="cart-icon.svg">
                            &lt;div class="badge-icon-num"&gt;6&lt;/div&gt;
                        &lt;/div&gt;
    
                        &lt;div class="badge-icon"&gt;
                            &lt;img class="badge-icon-img img70x70" 
                                src="cart-icon.svg">
                            &lt;div class="badge-icon-num"&gt;7&lt;/div&gt;
                        &lt;/div&gt;
    
                        &lt;div class="badge-icon"&gt;
                            &lt;img class="badge-icon-img img80x80" 
                                src="cart-icon.svg">
                            &lt;div class="badge-icon-num"&gt;8&lt;/div&gt;
                        &lt;/div&gt;

                       </code>
                   </pre>

                </div>
                <!-- <div class="component-block-css">
                    <div class="block-css">CSS</div>
                    <pre><code class="language-css">
                        
                        .badge-icon{
                            position: relative;
                            margin:0rem auto;
                        }

                        .badge-icon-num{
                            position: absolute;
                            top:0;
                            right:0em;
                            font-size:0.8rem;
                            padding:0rem 0.15rem;
                            background-color: #FCA5A5;
                            border-radius: 50%;
                        }

                        .img50x50{
                            height:50px;
                            width:50px;
                        }
                        
                        .img60x60{
                            height:60px;
                            width:60px;
                        }
                        
                        .img70x70{
                            height:70px;
                            width:70px;
                        }
                        
                        .img80x80{
                            height:80px;
                            width:80px;
                        }

                        
                   </code></pre>
                </div> -->
            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Badges on Avatar</div>
                <div class="component-block-item display-flex">

                    <div class="badge-icon img50x50">
                        <img class="badge-icon-img " src="/components/component_img/batman.png">
                        <div class="badge-icon-dot dot-green"></div>
                    </div>

                    <div class="badge-icon img60x60">
                        <img class="badge-icon-img" src="/components/component_img/batman.png">
                        <div class="badge-icon-dot dot-red"></div>
                    </div>

                    <div class="badge-icon img70x70">
                        <img class="badge-icon-img" src="/components/component_img/batman.png">
                        <div class="badge-icon-dot dot-red"></div>
                    </div>

                    <div class="badge-icon img80x80">
                        <img class="badge-icon-img" src="/components/component_img/batman.png">
                        <div class="badge-icon-dot dot-green"></div>
                    </div>

                </div>
                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">

                        &lt;div class="badge-icon img50x50"&gt;
                            &lt;img class="badge-icon-img" 
                                src="/components/component_img/batman.png"&gt;
                            &lt;div class="badge-icon-dot dot-green"&gt;&lt;/div&gt;
                        &lt;/div&gt;
    
                        &lt;div class="badge-icon img60x60"&gt;
                            &lt;img class="badge-icon-img" 
                                src="/components/component_img/batman.png"&gt;
                            &lt;div class="badge-icon-dot dot-red"&gt;&lt;/div&gt;
                        &lt;/div&gt;
    
                        &lt;div class="badge-icon img70x70"&gt;
                            &lt;img class="badge-icon-img" 
                                src="/components/component_img/batman.png"&gt;
                            &lt;div class="badge-icon-dot dot-red"&gt;&lt;/div&gt;
                        &lt;/div&gt;
    
                        &lt;div class="badge-icon img80x80"&gt;
                            &lt;img class="badge-icon-img" 
                                src="/components/component_img/batman.png"&gt;
                            &lt;div class="badge-icon-dot dot-green"&gt;&lt;/div&gt;
                        &lt;/div&gt;

                       </code>
                   </pre>

                </div>
                <!-- <div class="component-block-css">
                    <div class="block-css">CSS</div>
                    <pre><code class="language-css">
                        
                        .badge-icon{                        
                            position: relative;
                            margin:0rem auto;
                        }

                        .badge-icon-img{
                            border-radius:1rem;
                            width:100%;
                        }

                        .badge-icon-dot{
                            height:15px;
                            width:15px;
                            border-radius:50%;
                            position:absolute;
                            bottom:0em;
                            right:0em;
                        }

                        .dot-green{
                            background-color: #34D399;
                        }
                        
                        .dot-red{
                            background-color: #EF4444;
                        }

                   </code></pre>
                </div> -->
            </div>


        </div>


        <div class="flex-footer">
            <div class="footer">

                <div class="footer-text">Connect with us :</div>

                <div class="footer-social-link-bar">

                    <a href="https://twitter.com/im_saurabhK" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/twitter.svg">
                    </a>

                    <a href="https://www.linkedin.com/in/saurabh-kamboj/" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/linkedin.svg">
                    </a>

                    <a href="https://github.com/Saurabh071997" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/github.svg">
                    </a>

                    <a href="mailto:saurabhkamboj1997@gmail.com" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/mail.svg">
                    </a>



                </div>


            </div>
        </div>


    </div>


    <script src="/app.js"></script>
    <script src="/prism.js"></script>

</body>

</html>