@import "size.css";

.badge-icon{
    position: relative;
    margin:0.5rem auto;
}

.badge-icon-img{
    border-radius:1rem;
    width:100%;
}


.badge-icon-num{
    position: absolute;
    top:0;
    right:0em;
    font-size:0.9rem;
    padding:0rem 0.15rem;
    background-color: #FCA5A5;
    border-radius: 50%;
}


.badge-icon-dot{
    height:15px;
    width:15px;
    border-radius:50%;
    position:absolute;
    bottom:0em;
    right:0em;
}

.dot-green{
    background-color: #34D399;
}

.dot-red{
    background-color: #EF4444;
}