@import "size.css";


.btn{
    font-size:1.25rem;
    padding:0.25rem 1.5rem;
    margin: 0.5rem;
    cursor:pointer;
    border-radius: 0.25rem;
    color:white;
}

.btn-contained-primary{
    background-color: #0E7490;
    border: 0.25px solid #0E7490;
}

.btn-contained-secondary{
    background-color: #3F3F46;
    border: 0.25px solid #3F3F46;
}

.btn-contained-success{
    background-color: #16A34A;
    border: 0.25px solid #16A34A;
}

.btn-contained-failure{
    background-color: #DC2626;
    border: 0.25px solid #DC2626;
}

.btn-outlined-primary{
    border: 0.5px solid #0E7490;
    color:#0E7490;
    background-color: white;

}

.btn-outlined-secondary{
    border: 0.5px solid #3F3F46;
    color:#3F3F46;
    background-color: white;
}

.btn-outlined-success{
    border: 0.5px solid #16A34A;
    color:#16A34A;
    background-color: white;
}

.btn-outlined-failure{
    border: 0.5px solid #DC2626;
    color:#DC2626;
    background-color: white;
}


.btn-icon{
    padding:0.5rem;
    background: transparent;
    border-radius:50%;
    margin:0.5rem;
    border:none;
    outline:none;

}

.btn-icon:hover{
    background-color:#D6D3D1;
}

.btn-icon-label{
    margin:1rem 1.25rem;
    padding:0.5rem ;
    border-radius:0.35rem;
    background: transparent;
    border:0.5px solid #1C1917;
}

.btn-label-txt{
    font-size: 1rem;
    margin:0.25rem;
    color:#1C1917;
}



.fab{
    margin-top:1rem;
    border-radius: 50%;
    width:60px;
    height:60px;
    /* background: #F87171; */
    background-color: #1C1917;
    box-shadow: 1px 2px 4px gray;
    z-index:3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab:hover{
    cursor:pointer;
}

.fab img{
    height:25px;
    width:25px;
}

.box{
    margin-top:1rem;
    visibility: hidden;
    display: flex;
    width:200px;
    height:80px;
    justify-content: space-evenly;
    transition-delay: 0.2s;
    transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.box-active{
    visibility: visible;
}

.box .item{
    background-color: #1C1917;
}


.item{
    border-radius:50%;
    width:45px;
    height:45px;
    /* background: #F87171; */
    transition: 0.4s ease-in;
    box-shadow: 1px 2px 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1{
    transition-delay: 0.2s;
    /* background-color: #60A5FA; */
}

.item2{
    transition-delay: 0.3s;
    /* background-color: #34D399; */
}

.item3{
    transition-delay: 0.4s;
    /* background-color: #A78BFA; */
}

.item:hover img{
    transform: rotate(360deg);
    transition: all 0.5s;
}