<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POOL.ui | Saurabh Kamboj</title>
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mobile.layout.style.css">
    <link rel="stylesheet" href="/components/button.css">
    <link rel="stylesheet" href="/prism.css">
</head>

<body>

    <div class="sidebar" id="side-nav">
        <img  class="close-icon" src = "/images/cross.svg">
        <div class="sidebar-content">
            <a href="/index.html" class="sidebar-heading">Home</a>
            <a href="/component.html" class="sidebar-heading">Components</a>
            <div class="sidebar-block">
                <a href="/components/alert.html" >Alert</a>
                <a href="/components/avatar.html" >Avatar</a>
                <a href="/components/badge.html" >Badge</a>
                <a href="/components/button.html" >Button</a>
                <a href="/components/card.html" >Card</a>
                <a href="/components/image.html" >Image</a>
                <a href="/components/input.html" >Input</a>
                <a href="/components/list.html" >List</a>
                <a href="/components/modal.html" >Modal</a>
                <a href="/components/navigation.html" >Navigation</a>
                <a href="/components/slider.html">Slider</a>
                <a href="/components/text_utilities.html" >Text-Utilities</a>
                <a href="/components/toast.html" >Toast</a>
            </div>
            <div class="space20"></div>
        </div>
    </div>

    <div class="flex-container">

        <div class="flex-header">
            <img class="open-icon" src="/images/open.svg">
            <div class="flex-head">POOL.ui</div>
            <div class="flex-author">| &nbsp;&nbsp; Saurabh Kamboj </div>
        </div>

        <div class="component-container">
            <div class="component-heading">Buttons</div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Contained Buttons</div>
                <div class="component-block-item display-flex">
                    <button type="button" class="btn btn-contained-primary">
                        Primary
                    </button>

                    <button type="button" class="btn btn-contained-secondary">
                        Secondary
                    </button>

                    <button type="button" class="btn btn-contained-success">
                        Success
                    </button>

                    <button type="button" class="btn btn-contained-failure">
                        Failure
                    </button>


                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                        <code class="language-html">
                            &lt;button type="button" class="btn btn-contained-primary"&gt;
                                Primary
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn btn-contained-secondary"&gt;
                                Secondary
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn btn-contained-success"&gt;
                                Success
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn btn-contained-failure"&gt;
                                Failure
                            &lt;/button&gt;
                       </code>
                   </pre>
                </div>

            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Outlined Buttons</div>
                <div class="component-block-item display-flex">
                    <button type="button" class="btn btn-outlined-primary">
                        Primary
                    </button>

                    <button type="button" class="btn btn-outlined-secondary">
                        Secondary
                    </button>

                    <button type="button" class="btn btn-outlined-success">
                        Success
                    </button>

                    <button type="button" class="btn btn-outlined-failure">
                        Failure
                    </button>


                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                        <code class="language-html">
                            &lt;button type="button" class="btn btn-outlined-primary"&gt;
                                Primary
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn btn-outlined-secondary"&gt;
                                Secondary
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn btn-outlined-success"&gt;
                                Success
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn btn-outlined-failure"&gt;
                                Failure
                            &lt;/button&gt;
                       </code>
                   </pre>
                </div>

            </div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Icon Buttons</div>
                <div class="component-block-item display-flex">

                    <button type="button" class="btn-icon">
                        <img class="img30x30 img-svg" src="/components/component_img/delete-icon.svg"/>
                    </button>

                    <button type="button" class="btn-icon">
                        <img class="img30x30" src="/components/component_img/send-icon.svg"/>
                    </button>

                    <button type="button" class="btn-icon">
                        <img class="img30x30" src="/components/component_img/upload.svg"/>
                    </button>

                    <button type="button" class="btn-icon">
                        <img class="img30x30" src="/components/component_img/capture.svg"/>
                    </button>


                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                        <code class="language-html">
                            &lt;button type="button" class="btn-icon"&gt;
                                &lt;img class="img30x30 img-svg" src="delete-icon.svg"/&gt;
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn-icon"&gt;
                                &lt;img class="img30x30" src="send-icon.svg"/&gt;
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn-icon">
                                &lt;img class="img30x30" src="upload.svg"/&gt;
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn-icon"&gt;
                                &lt;img class="img30x30" src="capture.svg"/&gt;
                            &lt;/button&gt;
                        
                       </code>
                   </pre>
                </div>

            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Icon Buttons With Labels</div>
                <div class="component-block-item display-flex">

                    <button type="button" class="btn-icon-label">
                        <img class="img15x15" src="/components/component_img/delete-icon.svg"/>
                        <span class="btn-label-txt">Delete</span>
                    </button>

                    <button type="button" class="btn-icon-label">
                        <img class="img15x15" src="/components/component_img/send-icon.svg"/>
                        <span class="btn-label-txt">Send</span>
                    </button>

                    <button type="button" class="btn-icon-label">
                        <img class="img15x15" src="/components/component_img/upload.svg"/>
                        <span class="btn-label-txt">Upload</span>
                    </button>

                    <button type="button" class="btn-icon-label">
                        <img class="img15x15" src="/components/component_img/capture.svg"/>
                        <span class="btn-label-txt">Capture</span>
                    </button>


                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                        <code class="language-html">
                            &lt;button type="button" class="btn-icon-label"&gt;
                                &lt;img class="img15x15" src="delete-icon.svg"/&gt;
                                &lt;span class="btn-label-txt"&gt;Delete&lt;/span&gt;
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn-icon-label"&gt;
                                &lt;img class="img15x15" src="send-icon.svg"/&gt;
                                &lt;span class="btn-label-txt"&gt;Send&lt;/span&gt;
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn-icon-label"&gt;
                                &lt;img class="img15x15" src="upload.svg"/&gt;
                                &lt;span class="btn-label-txt"&gt;Upload&lt;/span&gt;
                            &lt;/button&gt;
        
                            &lt;button type="button" class="btn-icon-label"&gt;
                                &lt;img class="img15x15" src="capture.svg"/&gt;
                                &lt;span class="btn-label-txt"&gt;Capture&lt;/span&gt;
                            &lt;/button&gt;
                        
                       </code>
                   </pre>
                </div>

            </div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Floating Action Buttons</div>
                <div class="component-block-item display-flex ">

                    <div class="fab">
                        <img  src="/components/component_img/fab-pen.svg" />
                    </div>


                    <div class="box">
                        <a href="" class="item item1"><img class="img35x35" src="/components/component_img/fab-doc.svg"/></a>
                        <a href="" class="item item2"><img class="img35x35" src="/components/component_img/fab-file.svg"/></a>
                        <a href="" class="item item3"><img class="img35x35" src="/components/component_img/fab-video.svg"/></a>
                    </div>


                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                        <code class="language-html">
                            &lt;!-- Try clicking the above icon --&gt;

                            &lt;div class="fab"&gt;
                                &lt;img  src="fab-pen.svg" /&gt;
                            &lt;/div&gt;
        
                            &lt;div class="box"&gt;
                                &lt;a href="#" class="item item1"&gt;&lt;img class="img35x35" src="fab-doc.svg"/&gt;&lt;/a&gt;
                                &lt;a href="#" class="item item2"&gt;&lt;img class="img35x35" src="fab-file.svg"/&gt;&lt;/a&gt;
                                &lt;a href="#" class="item item3"&gt;&lt;img class="img35x35" src="fab-video.svg"/&gt;&lt;/a&gt;
                            &lt;/div&gt;
                        
                       </code>
                   </pre>
                </div>

            </div>



        </div>


        <div class="flex-footer">
            <div class="footer">

                <div class="footer-text">Connect with us :</div>

                <div class="footer-social-link-bar">

                    <a href="https://twitter.com/im_saurabhK" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/twitter.svg">
                    </a>

                    <a href="https://www.linkedin.com/in/saurabh-kamboj/" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/linkedin.svg">
                    </a>

                    <a href="https://github.com/Saurabh071997" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/github.svg">
                    </a>

                    <a href="mailto:saurabhkamboj1997@gmail.com" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/mail.svg">
                    </a>



                </div>


            </div>
        </div>


    </div>


    <script src="/app.js"></script>
    <script src="/prism.js"></script>

</body>

</html>