<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POOL.ui | Saurabh Kamboj</title>
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mobile.layout.style.css">
    <link rel="stylesheet" href="/components/card.css">
    <link rel="stylesheet" href="/prism.css">
</head>

<body>

    <div class="sidebar" id="side-nav">
        <img  class="close-icon" src = "/images/cross.svg">
        <div class="sidebar-content">
            <a href="/index.html" class="sidebar-heading">Home</a>
            <a href="/component.html" class="sidebar-heading">Components</a>
            <div class="sidebar-block">
                <a href="/components/alert.html" >Alert</a>
                <a href="/components/avatar.html" >Avatar</a>
                <a href="/components/badge.html" >Badge</a>
                <a href="/components/button.html" >Button</a>
                <a href="/components/card.html" >Card</a>
                <a href="/components/image.html" >Image</a>
                <a href="/components/input.html" >Input</a>
                <a href="/components/list.html" >List</a>
                <a href="/components/modal.html" >Modal</a>
                <a href="/components/navigation.html" >Navigation</a>
                <a href="/components/slider.html">Slider</a>
                <a href="/components/text_utilities.html" >Text-Utilities</a>
                <a href="/components/toast.html" >Toast</a>
            </div>
            <div class="space20"></div>
        </div>
    </div>

    <div class="flex-container">

        <div class="flex-header">
            <img class="open-icon" src="/images/open.svg">
            <div class="flex-head">POOL.ui</div>
            <div class="flex-author">| &nbsp;&nbsp; Saurabh Kamboj </div>
        </div>

        <div class="component-container">
            <div class="component-heading">Cards</div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Text Only Cards</div>
                <div class="component-block-item ">

                    <div class="card-block">
                        <div class="card-block-heading">Card Heading</div>

                        <div class="card-block-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum possimus at nisi ab amet laboriosam esse facere aut quibusdam perferendis.
                        </div>

                        <div class="card-block-btn">
                            <a href ="#" class="card-block-btn-style">
                                Explore
                            </a>
                        </div>
                            

                    </div>


                    

                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">

                        &lt;div class="card-block"&gt;
                            &lt;div class="card-block-heading"&gt;Card Heading&lt;/div&gt;
    
                            &lt;div class="card-block-content"&gt;
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum possimus at nisi ab amet laboriosam esse facere aut quibusdam perferendis.
                            &lt;/div&gt;

                            &lt;div class="card-block-btn"&gt;
                                &lt;a href ="#" class="card-block-btn-style"&gt;
                                    Explore
                                &lt;/a&gt;
                            &lt;/div&gt;
    
                        &lt;/div&gt;
                           

                       </code>
                   </pre>
                </div>


            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Cards with Images</div>
                <div class="component-block-item ">

                    <div class="card-block">
                        <img class="card-block-img" src="/components/component_img/card-img.jpg"/>
                       
                        <div class="card-block-detail">
                            <div class="card-block-detail-title">H&M</div>

                            <div class="card-block-detail-txt">
                                Regular Fit T-shirt
                            </div>

                            <div class="card-block-detail-info">Rs. 1499</div>

                        </div>

                        <div class="card-block-btn">
                            <a href ="#" class="card-block-btn-style">
                                Explore
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">

                        &lt;div class="card-block"&gt;
                            &lt;img class="card-block-img" src="card-img.jpg"/&gt;
                           
                            &lt;div class="card-block-detail"&gt;
                                &lt;div class="card-block-detail-title"&gt;H&M&lt;/div&gt;
    
                                &lt;div class="card-block-detail-txt"&gt;
                                    Regular Fit T-shirt
                                &lt;/div&gt;
    
                                &lt;div class="card-block-detail-info"&gt;Rs. 1499&lt;/div&gt;
    
                            &lt;/div&gt;
    
                            &lt;div class="card-block-btn"&gt;
                                &lt;a href ="#" class="card-block-btn-style"&gt;
                                    Explore
                                &lt;/a&gt;
                            &lt;/div&gt;
                        &lt;div/&gt;

                       </code>
                   </pre>
                </div>


            </div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Cards with Badge</div>
                <div class="component-block-item ">

                    <div class="card-block">
                        <img class="card-block-img" src="/components/component_img/card-img.jpg"/>

                        <div class="card-block-badge">New</div>
                       
                        <div class="card-block-detail">
                            <div class="card-block-detail-title">H&M</div>

                            <div class="card-block-detail-txt">
                                Regular Fit T-shirt
                            </div>

                            <div class="card-block-detail-info">Rs. 1499</div>

                        </div>

                        <div class="card-block-btn">
                            <a href ="#" class="card-block-btn-style">
                                Explore
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;div class="card-block"&gt;
                        &lt;img class="card-block-img" src="card-img.jpg"/&gt;

                        &lt;div class="card-block-badge"&gt;New&lt;/div&gt;
                       
                        &lt;div class="card-block-detail"&gt;
                            &lt;div class="card-block-detail-title"&gt;H&M&lt;/div&gt;

                            &lt;div class="card-block-detail-txt"&gt;
                                Regular Fit T-shirt
                            &lt;/div&gt;

                            &lt;div class="card-block-detail-info"&gt;Rs. 1499&lt;/div&gt;

                        &lt;/div&gt;

                        &lt;div class="card-block-btn"&gt;
                            &lt;a href ="#" class="card-block-btn-style"&gt;
                                Explore
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;div/&gt;

                       </code>
                   </pre>
                </div>


            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Cards with Dismiss</div>
                <div class="component-block-item ">

                    <div class="card-block">
                        <img class="card-block-img" src="/components/component_img/card-img.jpg"/>

                        <button class="card-block-dismiss">
                            <img src="/components/component_img/delete-icon.svg" class="img15x15" />
                        </button>
                       
                        <div class="card-block-detail">
                            <div class="card-block-detail-title">H&M</div>

                            <div class="card-block-detail-txt">
                                Regular Fit T-shirt
                            </div>

                            <div class="card-block-detail-info">Rs. 1499</div>

                        </div>

                        <div class="card-block-btn">
                            <a href ="#" class="card-block-btn-style">
                                Explore
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;div class="card-block"&gt;
                        &lt;img class="card-block-img" src="card-img.jpg"/&gt;

                        &lt;div class="card-block-dismiss"&gt;x&lt;/div&gt;
                       
                        &lt;div class="card-block-detail"&gt;
                            &lt;div class="card-block-detail-title"&gt;H&M&lt;/div&gt;

                            &lt;div class="card-block-detail-txt"&gt;
                                Regular Fit T-shirt
                            &lt;/div&gt;

                            &lt;div class="card-block-detail-info"&gt;Rs. 1499&lt;/div&gt;

                        &lt;/div&gt;

                        &lt;div class="card-block-btn"&gt;
                            &lt;a href ="#" class="card-block-btn-style"&gt;
                                Explore
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;div/&gt;

                       </code>
                   </pre>
                </div>


            </div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Cards with Wishlist icon</div>
                <div class="component-block-item ">

                    <div class="card-block">
                        
                        <img class="card-block-img" src="/components/component_img/card-img.jpg">


                        <div class="card-block-badge">New</div>

                        <svg class="card-wishlist-icon" viewBox="0 0 32 29.6">
                            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                              c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
                        </svg> 
                       
                        <div class="card-block-detail">
                            <div class="card-block-detail-title">H&M</div>

                            <div class="card-block-detail-txt">
                                Regular Fit T-shirt
                            </div>

                            <div class="card-block-detail-info">Rs. 1499</div>

                        </div>

                        <div class="card-block-btn">
                            <a href ="#" class="card-block-btn-style">
                                Explore
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;div class="card-block"&gt;
                        &lt;img class="card-block-img" src="card-img.jpg"/&gt;

                        &lt;div class="card-block-badge"&gt;New&lt;/div&gt;

                        &lt;svg class="card-wishlist-icon" viewBox="0 0 32 29.6"&gt;
                            &lt;path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                              c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/&gt;
                        &lt;/svg&gt;
                       
                        &lt;div class="card-block-detail"&gt;
                            &lt;div class="card-block-detail-title"&gt;H&M&lt;/div&gt;
                            &lt;div class="card-block-detail-txt"&gt;
                                Regular Fit T-shirt
                            &lt;/div&gt;
                            &lt;div class="card-block-detail-info"&gt;Rs. 1499&lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="card-block-btn"&gt;
                            &lt;a href ="#" class="card-block-btn-style"&gt;
                                Explore
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;div/&gt;

                       </code>
                   </pre>
                </div>


            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Cards with Tilted Badge</div>
                <div class="component-block-item ">

                    <div class="card-block">
                        
                        <img class="card-block-img" src="/components/component_img/card-img.jpg">


                        <!-- <div class="card-block-badge">New</div> -->

                        <div class="card-block-badge-tilt">15% Off</div>

                        <!-- <img class="card-wishlist-icon" src="/components/component_img/wishlist.svg"/> -->
                       
                        <div class="card-block-detail">
                            <div class="card-block-detail-title">H&M</div>

                            <div class="card-block-detail-txt">
                                Regular Fit T-shirt
                            </div>

                            <div class="card-block-detail-info">Rs. 1499</div>

                        </div>

                        <div class="card-block-btn">
                            <a href ="#" class="card-block-btn-style">
                                Explore
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;div class="card-block"&gt;
                        &lt;img class="card-block-img" src="card-img.jpg"/&gt;

                        &lt;div class="card-block-badge-tilt"&gt;15% Off&lt;/div&gt;
                       
                        &lt;div class="card-block-detail"&gt;
                            &lt;div class="card-block-detail-title"&gt;H&M&lt;/div&gt;

                            &lt;div class="card-block-detail-txt"&gt;
                                Regular Fit T-shirt
                            &lt;/div&gt;

                            &lt;div class="card-block-detail-info"&gt;Rs. 1499&lt;/div&gt;

                        &lt;/div&gt;

                        &lt;div class="card-block-btn"&gt;
                            &lt;a href ="#" class="card-block-btn-style"&gt;
                                Explore
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;div/&gt;

                       </code>
                   </pre>
                </div>


            </div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Horizontal Cards</div>
                <div class="component-block-item ">

                    <div class="card-horizontal"> 
                        <img class="card-horizontal-img" src="/components/component_img/card-img.jpg"/>
                       
                        <div class="card-block-badge">New</div>

                        <div class="card-horizontal-block-detail">
                            <div class="card-block-detail-title">H&M</div>


                            <div class="card-block-detail-txt">
                                Regular Fit T-shirt
                            </div>

                            <div class="card-block-detail-info">Rs. 1499</div>

                            <div class="card-horizontal-block-btn">
                                <a href ="#" class="card-block-btn-style">
                                    Explore
                                </a>
                            </div>

                        </div>


                    </div>
                    
                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">

                        &lt;div class="card-horizontal"&gt;
                            &lt;img class="card-horizontal-img" src="card-img.jpg"/&gt;
                           
                            &lt;div class="card-block-badge"&gt;New&lt;/div&gt;
    
                            &lt;div class="card-horizontal-block-detail"&gt;
                                &lt;div class="card-block-detail-title"&gt;H&M&lt;/div&gt;
    
                                &lt;div class="card-block-detail-txt"&gt;
                                    Regular Fit T-shirt
                                &lt;/div&gt;
    
                                &lt;div class="card-block-detail-info"&gt;Rs. 1499&lt;/div&gt;
    
                                &lt;div class="card-horizontal-block-btn"&gt;
                                    &lt;a href ="#" class="card-block-btn-style"&gt;
                                        Explore
                                    &lt;/a&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
    
                        &lt;/div>

                       </code>
                   </pre>
                </div>


            </div>





        </div>






        <div class="flex-footer">
            <div class="footer">

                <div class="footer-text">Connect with us :</div>

                <div class="footer-social-link-bar">

                    <a href="https://twitter.com/im_saurabhK" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/twitter.svg">
                    </a>

                    <a href="https://www.linkedin.com/in/saurabh-kamboj/" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/linkedin.svg">
                    </a>

                    <a href="https://github.com/Saurabh071997" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/github.svg">
                    </a>

                    <a href="mailto:saurabhkamboj1997@gmail.com" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/mail.svg">
                    </a>

                    

                </div>


            </div>
        </div>


    </div>


    <script src="/app.js"></script>
    <script src="/prism.js"></script>

</body>

</html>