

.floating-form {
    max-width:300px;
    margin-top: 1.25rem;
}

.floating-label { 
    position:relative; 
    margin:1rem; 
}


.floating-input , .floating-select {
    font-size:20px;
    padding:0.5rem 0.2rem;
    display:block;
    width:95%;
    letter-spacing: 1px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #A8A29E;
}
  
.floating-input:focus , .floating-select:focus {
       outline:none;
       border-bottom:2px solid #1C1917; 
}
  
label {
    color:#A8A29E; 
    font-size:1rem;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
   
    
}
  
.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top:-12px;
    font-size:12px;
    color:#44403C;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
    top:-12px;
    font-size:12px;
    color:#44403C;
}

.floating-input-outlined, .floating-select-outlined{
    border:1px solid #A8A29E;
    padding:0.5rem ;
    border-radius:0.35rem;
}

.floating-input-outlined:focus{
    border:2px solid #1C1917;
}

.floating-input-outlined:focus ~ label, .floating-input-outlined:not(:placeholder-shown) ~ label {
    margin-left: 0.25rem;
    background-color: white;
}

.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width:50%;
  }


@media screen and (max-width:600px){
    .floating-form {
        width:90%;
        margin-top: 1.25rem;
    }
    
    .floating-select {
        width:75%;
    }

     
}
