@import "size.css";

.list-group{
    list-style: none;
    max-width:300px;
    margin:1rem 0rem;
}

.list-item{
    padding:0.5rem 1rem;
    margin:0.2rem 0rem;
    border:1px solid #0EA5E9;
}

.list-item-txt{
    color:#0EA5E9;
    margin-left:1rem;
}

.link-list{
    list-style:circle;
}


.list-container-grp{
    list-style: none;
}

.list-container-item{
    display: flex;
    padding:0.25rem;
    margin:0.5rem 0rem;
    max-width: 300px;
    border-radius:0.5rem;
    border:1px solid #A8A29E;
    box-shadow: 3px 3px 5px #A8A29E;
}

.list-container-item-img{
    border-radius: 50%;
    margin:0.25rem;
    box-shadow: 3px 3px 5px #A8A29E;
    height: 100%;;
}

.list-container-item-txt{
    display: flex;
    flex-direction: column;
    margin-left: 0.25rem;
}

.list-container-item-txt-heading{
    font-size:1.25rem;
    font-weight: bold;
    color:#292524;
    margin:0.25rem 0rem;
}

.list-container-item-txt-content{
    font-size: 0.8rem;
    color:#57534E;
}

.list-container-item-txt-content strong{
    color:#44403C;
}


@media screen and (max-width:600px){
    .list-group{
        list-style: none;
        width:90%;
        margin:1rem auto;
    }

    .list-item{
        padding:0.5rem 1rem;
        margin:0.2rem 0rem;
        width:75%;
        border:1px solid #0EA5E9;
    }

    .list-container-grp{
        list-style: none;
        width:90%;
    }

    .list-container-item{
        display: flex;
        padding:0.25rem;
        margin:0.5rem 0rem;
        width: 95%;
        margin-left:-1rem;
        border-radius:0.5rem;
        border:1px solid #A8A29E;
        box-shadow: 3px 3px 5px #A8A29E;
    }
}

