
.modal-open-btn{
    border: none;
    outline: none;
    font-size:1.25rem;
    margin:1rem auto;
    color:#F5F5F4;
    padding:0.5rem;
    background-color: #1C1917;
    cursor: pointer;

}


.modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.3s ease-in-out;
    border: 1px solid #1C1917;
    border-radius:0.25rem;
    z-index: 10;
    background-color: #FAFAF9;
    max-width:90%;
    margin:auto;
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);

}

.modal-close-btn{
    border: none;
    outline: none;
    font-size:1.25rem;
    margin:0.75rem auto;
    color:#F5F5F4;
    padding:0.5rem;
    background-color: #1C1917;
    cursor: pointer;
}

.modal-header{
    font-size:1.35rem;
    background-color: #1C1917;
    color:#F5F5F4;
    text-align: center;
    padding:0.5rem 0rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.modal-body{
    padding:1rem ;
}

#overlay{
    position: fixed;
    opacity:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}


@media screen and (max-width:600px){
    .modal{
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%) scale(0);
        transition: 0.3s ease-in-out;
        border: 1px solid #1C1917;
        border-radius:0.25rem;
        z-index: 10;
        background-color: #FAFAF9;
        width:75%;
        max-height:65%;
        overflow: scroll;

        margin:auto;
    }
}
