<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POOL.ui | Saurabh Kamboj</title>
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mobile.layout.style.css">
    <link rel="stylesheet" href="/components/text_utilities.css">
    <link rel="stylesheet" href="/prism.css">
</head>

<body>

    <div class="sidebar" id="side-nav">
        <img  class="close-icon" src = "/images/cross.svg">
        <div class="sidebar-content">
            <a href="/index.html" class="sidebar-heading">Home</a>
            <a href="/component.html" class="sidebar-heading">Components</a>
            <div class="sidebar-block">
                <a href="/components/alert.html" >Alert</a>
                <a href="/components/avatar.html" >Avatar</a>
                <a href="/components/badge.html" >Badge</a>
                <a href="/components/button.html" >Button</a>
                <a href="/components/card.html" >Card</a>
                <a href="/components/image.html" >Image</a>
                <a href="/components/input.html" >Input</a>
                <a href="/components/list.html" >List</a>
                <a href="/components/modal.html" >Modal</a>
                <a href="/components/navigation.html" >Navigation</a>
                <a href="/components/slider.html">Slider</a>
                <a href="/components/text_utilities.html" >Text-Utilities</a>
                <a href="/components/toast.html" >Toast</a>
            </div>
            <div class="space20"></div>
        </div>
    </div>

    <div class="flex-container">

        <div class="flex-header">
            <img class="open-icon" src="/images/open.svg">
            <div class="flex-head">POOL.ui</div>
            <div class="flex-author">| &nbsp;&nbsp; Saurabh Kamboj </div>
        </div>

        <div class="component-container">
            <div class="component-heading">Text-Utilities</div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Text headings</div>
                <div class="component-block-item ">

                        <h1>This is &lt;h1&gt; heading</h1>
                        <h2>This is &lt;h2&gt; heading</h2>
                        <h3>This is &lt;h3&gt; heading</h3>
                        <h4>This is &lt;h4&gt; heading</h4>
                        <h5>This is &lt;h5&gt; heading</h5>
                        <h6>This is &lt;h6&gt; heading</h5>
    
                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">

                        &lt;h1&gt;This is &lt;h1&gt; heading&lt;/h1&gt;
                        &lt;h2&gt;This is &lt;h2&gt; heading&lt;/h2&gt;
                        &lt;h3&gt;This is &lt;h3&gt; heading&lt;/h3&gt;
                        &lt;h4&gt;This is &lt;h4&gt; heading&lt;/h4&gt;
                        &lt;h5&gt;This is &lt;h5&gt; heading&lt;/h5&gt;
                        &lt;h6&gt;This is &lt;h6&gt; heading&lt;/h6&gt;

                       </code>
                   </pre>

                </div>
                
           
            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Text Aligntment</div>
                <div class="component-block-item ">

                    <div class="text-left-align">this is left aligned text</div>
                    <div class="text-center-align">this is center aligned text</div>
                    <div class="text-right-align">this is right aligned text</div>

                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">

                        &lt;div class="text-left-align"&gt;this is left aligned text&lt;/div&gt;
                        &lt;div class="text-center-align"&gt;this is center aligned text&lt;/div&gt;
                        &lt;div class="text-right-align"&gt;this is right aligned text&lt;/div&gt;

                       </code>
                   </pre>

                </div>
                
           
            </div>

            <div class="component-block block-odd">
                <div class="component-block-heading">Text Decoration</div>
                <div class="component-block-item ">

                    <div class="text-decorations">
                        <div class="txt-overline">This is Overlined Text</div>
                        <div class="txt-underline">This is Underlined Text</div>
                        <div class="txt-line-through">This is Line-Through Text</div>
                        <a href="#" class="txt-none">This is a link</a>
                    </div>

                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        
                        &lt;div class="txt-overline"&gt;This is Overlined Text&lt;/div&gt;
                        &lt;div class="txt-underline"&gt;This is Underlined Text&lt;/div&gt;
                        &lt;div class="txt-line-through"&gt;This is Line-Through Text&lt;/div&gt;
                        &lt;a href="#" class="txt-none"&gt;This is a link&lt;/a&gt;
                       </code>
                   </pre>

                </div>
                
           
            </div>

            <div class="component-block block-even">
                <div class="component-block-heading">Text Effects</div>
                <div class="component-block-item ">

                    <div class="txt-effects">

                        <div class="txt-color-change">This text will change color on hover</div>
                        <div class="txt-hover-bold">This text will get bold on hover</div>
                        <div class="txt-line-spacing">This text will get spacing effect on hover</div>

                    </div>


                </div>

                <div class="component-block-html">
                    <div class="block-html">HTML CODE</div>
                    <pre>
                       <code class="language-html">
                        &lt;div class="txt-color-change"&gt;This text will change color on hover&lt;/div&gt;
                        &lt;div class="txt-hover-bold"&gt;This text will get bold on hover&lt;/div&gt;
                        &lt;div class="txt-line-spacing"&gt;This text will get spacing effect on hover&lt;/div&gt;
                       </code>
                   </pre>

                </div>
                
           
            </div>





        </div>


        <div class="flex-footer">
            <div class="footer">

                <div class="footer-text">Connect with us :</div>

                <div class="footer-social-link-bar">

                    <a href="https://twitter.com/im_saurabhK" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/twitter.svg">
                    </a>

                    <a href="https://www.linkedin.com/in/saurabh-kamboj/" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/linkedin.svg">
                    </a>

                    <a href="https://github.com/Saurabh071997" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/github.svg">
                    </a>

                    <a href="mailto:saurabhkamboj1997@gmail.com" class="footer-social-link">
                        <img class="footer-social-link-img" src="/images/mail.svg">
                    </a>

                    

                </div>


            </div>
        </div>


    </div>


    <script src="/app.js"></script>
    <script src="/prism.js"></script>

</body>

</html>