.text-left-align{
    text-align: left;
}

.text-center-align{
    text-align: center;
}

.text-right-align{
    text-align: right;
}

.text-decorations{
    margin-top: 0rem 1rem;
    line-height: 2rem;
}

.txt-overline{
    text-decoration: overline;
}

.txt-underline{
    text-decoration: underline;
}

.txt-line-through{
    text-decoration:line-through;
}

.txt-none{
    text-decoration: none;
}

.txt-effects{
    margin:0rem 1rem;
    line-height: 2rem;
}

.txt-color-change{
    font-size:1.25rem;
}

.txt-color-change:hover{
    color:#1E3A8A;
    cursor: pointer;
}

.txt-hover-bold{
    font-size:1.25rem;
}

.txt-hover-bold:hover{
    font-weight: bold;
    cursor: pointer;
}

.txt-line-spacing{
    font-size:1.25rem;
}

.txt-line-spacing:hover{
    letter-spacing: 2px;
    cursor: pointer;
}


