@import "size.css";

.toast-top-show-btn, .toast-bottom-show-btn{
    border: none;
    outline: none;
    font-size:1.25rem;
    margin:1rem auto;
    color:#F5F5F4;
    padding:0.5rem;
    background-color: #1C1917;
    cursor: pointer;
}

#toast-top{
    display:flex;
    width:300px;
    background-color:#1C1917;
    padding:0.5rem;
    z-index: 5;
    position: fixed;
    top:100px;
    left:0;
    right:0;
    margin:auto;
    align-self: center;
    /* transition: 0.3s ease-in; */
    transform: scale(0);

}

#toast-top #desc{
    color:#F5F5F4;
    font-size:1.25rem;
    margin-left:0.25rem;
}

#toast-top.show-top{
    transform: scale(1);
    -webkit-animation: fadein 0.5s,stay 3s 1s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, stay 3s 1s, fadeout 0.5s 4.5s;
}

/* =============================================== */

#toast-bottom{
    display:flex;
    width:300px;
    background-color:#1C1917;
    padding:0.5rem;
    position: fixed;
    z-index:5;
    bottom:60px;
    left:0;
    right:0;
    margin:auto;
    align-self: center;
    /* transition: 0.3s ease-in; */
    transform: scale(0);
}

#toast-bottom #desc{
    color:#F5F5F4;
    font-size:1.25rem;
    margin-left:0.25rem;
}

#toast-bottom.show-bottom{
    transform: scale(1);
    -webkit-animation: fadein-bottom 0.5s,stay 3s 1s, fadeout-bottom 0.5s 2.5s;
    animation: fadein-bottom 0.5s, stay 3s 1s, fadeout-bottom 0.5s 4.5s;
}


@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes stay {
    from {min-width: 300px} 
    to {min-width: 300px}
}

@keyframes stay {
    from {min-width: 300px}
    to {min-width: 300px}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;} 
    to {top: 0px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0px; opacity: 0;}
}

@-webkit-keyframes fadein-bottom {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 60px; opacity: 1;}
}

@keyframes fadein-bottom {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout-bottom {
    from {bottom: 60px; opacity: 1;} 
    to {bottom: 0px; opacity: 0;}
}

@keyframes fadeout-bottom {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 0px; opacity: 0;}
}


@media screen and (max-width:600px){
    #toast-top{
        display:flex;
        width:200px;
        background-color:#1C1917;
        padding:0.5rem;
        z-index: 5;
        position: fixed;
        top:100px;
        left:0;
        right:0;
        margin:auto;
        align-self: center;
        /* transition: 0.3s ease-in; */
        transform: scale(0);
    }

    #toast-bottom{
        display:flex;
        width:200px;
        background-color:#1C1917;
        padding:0.5rem;
        position: fixed;
        z-index:5;
        bottom:60px;
        left:0;
        right:0;
        margin:auto;
        align-self: center;
        /* transition: 0.3s ease-in; */
        transform: scale(0);
    }

    @-webkit-keyframes stay {
        from {min-width: 200px} 
        to {min-width: 200px}
    }
    
    @keyframes stay {
        from {min-width: 200px}
        to {min-width: 200px}
    }
}